<form onsubmit="event.preventDefault();">
  <input type="search" placeholder="Search 5,000+ tutorials" id="search-input" />
</form>

<script>
  const client = algoliasearch('QMJYL5WYTI', '4318af87aa3ce128708f1153556c6108');
  const index = client.initIndex('news');
  autocomplete('#search-input', { hint: false }, [
    {
      source: autocomplete.sources.hits(index, { hitsPerPage: 8 }),
      debounce: 250,
      templates: {
        suggestion: (suggestion, result) => {
          return `
            <a href="${suggestion.url}">
              <div class="algolia-result">
                <span>${suggestion._highlightResult.title.value}</span>
              </div>
            </a>
          `;
        },
        empty: (options) => {
          return `
            <div class="algolia-result">
              No tutorials found
            </div>
          `;
        },
        footer: (query, result) => {
          if (!query.isEmpty) {
            return `
              <hr/>
              <a href="https://freecodecamp.org/news/search?query=${result.query}">
                <div class="algolia-result algolia-footer">
                  <span>See all results for ${result.query}</span>
                </div>
              </a>
            `;
          }
        }
      }
    }
  ]).on('autocomplete:selected', (event, suggestion, dataset, context) => {
    // Set to true if hit is selected by mouse or enter key
    hitSelected = true;
    // Do nothing on click, as the browser will already do it
    if (context.selectionMethod === 'click') {
      return;
    }
    // Change the page, for example, on other events
    window.location.assign(suggestion.url);
  });

  // If no hits in the Autocomplete dropdown are highlighted,
  // treat input like normal search bar
  const input = document.getElementById("search-input");
  let searchQuery;
  let hitSelected;

  // Get the value of the search bar after each key event
  input.addEventListener('input', e => {
    searchQuery = input.value;
  });

  input.addEventListener('keydown', e => {
    if (event.key === "Enter" && !hitSelected && searchQuery) {
      window.location.assign(`https://freecodecamp.org/news/search?query=${searchQuery}`);
    }
  });
</script>