<a class="banner" id="banner" rel="noopener noreferrer" target="_blank">
    <p>
        {{{t "banner"}}}
    </p>
</a>

{{#contentFor "scripts"}}
<script>
    const updateBanner = async () => {
        const { main } = await import('../assets/config/{{@site.lang}}/main.js');
        const bannerAnchorEl = document.getElementById('banner');

        bannerAnchorEl.href = main['banner-url'];
    }

    updateBanner();
</script>
{{/contentFor}}
