<a class="donation-banner" id="donation-banner-link" href="https://www.freecodecamp.org/">
    <p>
        Stay safe, friends. Learn to code from home. <span>Use our free 2,000 hour
            curriculum.</span>
    </p>
</a>