<a class="banner" id="banner" rel="noopener noreferrer" target="_blank">
    <p>
        {{{t "banner"}}}
    </p>
</a>

{{#contentFor "scripts"}}
<script>
    const bannerUrl = main['banner-url'];
    const bannerAnchorEl = document.getElementById('banner');

    bannerAnchorEl.href = bannerUrl;
</script>
{{/contentFor}}
