<a class="donation-banner" id="donation-banner" rel="noopener noreferrer" target="_blank">
    <p>
        {{{t "donation-banner"}}}
    </p>
</a>

{{#contentFor "scripts"}}
<script>
    const donationBannerUrl = other['donation-banner-url'];
    const donationBannerAnchorEl = document.getElementById('donation-banner');

    donationBannerAnchorEl.href = donationBannerUrl;
</script>
{{/contentFor}}
