<div class="under-header-content jumbotron">
    <h2 class="donation-banner">
        Stay safe, friends. Learn to code from home. <a href="https://www.freecodecamp.org/">Use our free 2,000 hour
            curriculum.</a>
    </h2>
</div>