{{^has tag="#disable-comments"}}
  <script>
    // Conditionally show comments section based on publication language setting
    const showCommentsList = ['zh-cn'];

    if (showCommentsList.includes(`{{@site.locale}}`)) {
      const hostname = window.location.hostname;
      const discourseEmbedMap = {
        'www.freecodecamp.org': {
          file: 'https://forum.freecodecamp.org/srv/status',
          discourseUrl: 'https://forum.freecodecamp.org/'
        },
        'chinese.freecodecamp.org': {
          file: 'https://chinese.freecodecamp.org/forum/srv/status',
          discourseUrl: 'https://chinese.freecodecamp.org/forum/',
        },
        'dev': {
          file: 'https://forum.freecodecamp.dev/srv/status',
          discourseUrl: 'https://forum.freecodecamp.dev/'
        },
      };
      const discourseEmbedInfo = discourseEmbedMap[hostname] ? discourseEmbedMap[hostname] : discourseEmbedMap['dev'];
      const { file, discourseUrl } = discourseEmbedInfo;

      function loadDiscourseComments() {
        var xhr = new XMLHttpRequest();
        var randomNum = Math.round(Math.random() * 10000);
        xhr.open('HEAD', file + '?rand=' + randomNum, true);
        xhr.send();
        xhr.addEventListener('readystatechange', processRequest, false);
        function processRequest(e) {
          if (xhr.readyState == 4) {
            if (xhr.status >= 200 && xhr.status < 304) {
              document.getElementById('discourse-comments').innerHTML = '';
              DiscourseEmbed = {
                discourseUrl,
                discourseEmbedUrl: '{{url absolute="true"}}'
              };
              var d = document.createElement('script');
              d.type = 'text/javascript';
              d.async = true;
              d.src = discourseUrl + 'javascripts/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
            } else {
              document.getElementById('discourse-comments').innerHTML =
                '<div style="text-align: center;">{{t "Sorry, we could not load the comments. Please try again after some time."}}</div>';
            }
          }
        }
      }

      if (window && window.addEventListener) {
        // Create comments section
        const commentsDivHtml = `
          <div id='discourse-comments'>
            <button id='trigger-load-comments'>{{t "Show comments"}}</button>
          </div>
        `;
        const fullContentSection = document.getElementsByClassName('post-full-content')[0];
        fullContentSection.insertAdjacentHTML('beforeend', commentsDivHtml);

        window.addEventListener('load', function () {
          document.getElementById('trigger-load-comments').onclick = loadDiscourseComments;
        });
      }
    }
  </script>
{{/has}}
