{{!-- Everything inside the #author tags pulls data from the post --}}

<div class='donation-row'>

    <h4>Ads? Where we're going, we don't need ads.</h4>
    <p>
        freeCodeCamp is free. And we don't show any ads, either.
    </p>
    <p>

        It costs us 10,000s of dollars each month to operate freeCodeCamp.
    </p>
    <p>

        But how is this possible? How can freeCodeCamp stay online while being both free and not even run any ads?
    </p>
    <p>

        It's possible thanks to thousands of people around the world who care enough to donate. </p>
    <p>

        freeCodeCamp is a donor-supported nonprofit. We're a grass-roots public charity. And we have more than 5,000
        people
        around the world who donate each month to support our work.
    </p>
    <p>

        In 2019 alone, we provided 1.1 billion minutes of free education to people around the world.</p>
    <p>

        freeCodeCamp's total annual budget is only $373,000. That means every dollar you donate to freeCodeCamp provides
        50
        hours worth of free technology education to people around the world.
    </p>
    <p>

        This makes freeCodeCamp one of the most capital-efficient nonprofits in human history. And we are just getting
        started.

    </p>
    <p>
        We have big goals for 2020:
        <ul>
            <li>Thousands of new interactive coding challenges</li>
            <li>A "classroom mode" for teachers</li>
            <li>Hundreds of in-depth articles explaining technology news in a historical context</li>
        </ul>
    </p>
    <p>
        With our current tiny budget, we will only be able to accomplish some of these goals. But with your support, we
        can
        accomplish all of this.
    </p>
    <p>
        If you want to make the world a better place for 2020, freeCodeCamp is a sensible place to donate your
        hard-earned
        money.

        Over the past 5 years, we've proven we can use your donations efficiently to get things done.
    </p>
    <p>

        When you donate to freeCodeCamp, you help people learn new skills and provide for their families.
    </p>
    <p>

        You also help us create new resources for you to use to expand your own technology skills.
    </p>
    <p> <span class="yellow-highlight">Become a monthly supporter of freeCodeCamp.org. Or
            make a tax-deductible year end gift. Every little bit helps.</span>
    </p>

    <a class='donation-cta' href='https://www.freecodecamp.org/donate/'>
        <button class="donation-button">Support freeCodeCamp</button>
        <img class="payments" src="https://cdn-media-1.freecodecamp.org/news/pay-options.png
        " alt="payments-options" />
    </a>
</div>