<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-desc-col">
                <p>freeCodeCamp is a donor-supported tax-exempt 501(c)(3) nonprofit organization (United States Federal
                    Tax Identification Number: 82-0779546)
                </p>
                <p>
                    Our mission: to help people learn to code for free. We accomplish this by creating thousands of
                    videos, articles, and interactive coding lessons - all freely available to the public. We also have
                    thousands of freeCodeCamp study groups around the world.
                </p>
                <p>
                    Donations to freeCodeCamp go toward our education initiatives, and help pay for servers, services,
                    and staff. You can&nbsp;<a href="https://freecodecamp.org/donate" class="inline"
                        rel="noopener noreferrer" target="_blank">make a tax-deductible donation here</a>.
                </p>
            </div>
            <div class="footer-col-1">
                <div class="col-header">Our Nonprofit</div>
                <a href="https://www.freecodecamp.org/news/about/">About</a>
                <a href="https://freecodecamp.org/donate">Donate</a>
                <a href="https://www.freecodecamp.org/shop/" rel="noopener noreferrer" target="_blank">Shop</a>
                <a href="https://www.linkedin.com/school/free-code-camp/people/" rel="noopener noreferrer"
                    target="_blank">Alumni Network</a>
                <a href="https://github.com/freeCodeCamp/">Open Source</a>
                <a href="https://www.freecodecamp.org/news/support/">Support</a>
                <a href="https://www.freecodecamp.org/news/sponsors/">Sponsors</a>
                <a href="https://www.freecodecamp.org/news/academic-honesty-policy/">Academic Honesty</a>
                <a href="https://www.freecodecamp.org/news/code-of-conduct/">Code of Conduct</a>
                <a href="https://www.freecodecamp.org/news/privacy-policy/">Privacy Policy</a>
                <a href="https://www.freecodecamp.org/news/terms-of-service/">Terms of Service</a>
                <a href="https://www.freecodecamp.org/news/copyright-policy/">Copyright Policy</a>
            </div>
            <div class="footer-col-2">
                <div class="col-header">Best Tutorials</div>
                <a href="https://www.freecodecamp.org/news/best-python-tutorial/">Python Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-git-tutorial/">Git Tutorial</a>
                <a href="https://www.freecodecamp.org/news/the-best-linux-tutorials/">Linux Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-javascript-tutorial/">JavaScript Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-react-javascript-tutorial/">React Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-html-html5-tutorial/">HTML Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-css-and-css3-tutorial/">CSS Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-sql-database-tutorial/">SQL Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-java-8-tutorial/">Java Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-angular-tutorial-angularjs/">Angular Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-wordpress-tutorial/">WordPress Tutorial</a>
                <a href="https://www.freecodecamp.org/news/best-bootstrap-tutorial-responsive-web-design/">Bootstrap
                    Tutorial</a>

            </div>
            <div class="footer-col-3">
                <div class="col-header">Best Examples</div>
                <a href="https://www.freecodecamp.org/news/python-example/">Python Example </a>
                <a href="https://www.freecodecamp.org/news/javascript-example/">JavaScript Example</a>
                <a href="https://www.freecodecamp.org/news/react-examples-reactjs/">React Example</a>
                <a href="https://www.freecodecamp.org/news/linux-example-bash-command-line/">Linux Example</a>
                <a href="https://www.freecodecamp.org/news/html-and-html5-example/">HTML Example</a>
                <a href="https://www.freecodecamp.org/news/css-example-css3/">CSS Example</a>
                <a href="https://www.freecodecamp.org/news/sql-example/">SQL Example</a>
                <a href="https://www.freecodecamp.org/news/java-example/">Java Example</a>
                <a href="https://www.freecodecamp.org/news/the-best-angular-examples/">Angular Example</a>
                <a href="https://www.freecodecamp.org/news/the-best-jquery-examples/">jQuery Example</a>
                <a href="https://www.freecodecamp.org/news/the-best-bootstrap-examples/">Bootstrap Example</a>
                <a href="https://www.freecodecamp.org/news/the-best-php-examples/">PHP Example</a>
            </div>
            <div class="footer-col-4">
                <div class="col-header">Trending Reference</div>
                <a href="https://www.freecodecamp.org/news/2019-web-developer-roadmap/">2019 Web Developer Roadmap</a>
                <a href="https://www.freecodecamp.org/news/linux-command-line-bash-tutorial/">Linux Command Line
                    Guide</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-git-reset-and-git-revert/">Git Reset
                    and Git Revert</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-git-merge-and-git-rebase/">Git Merge
                    and Git Rebase</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-javascript-array-methods-map/">JavaScript
                    Array Map</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-javascript-array-methods-reduce/">JavaScript
                    Array Reduce</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-javascript-date-and-moment-js/">JavaScript
                    Date</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-javascript-string-methods-split/">JavaScript
                    String Split</a>
                <a
                    href="https://www.freecodecamp.org/news/understanding-flexbox-everything-you-need-to-know-b4013d4dc9af/">CSS
                    Flexbox Guide</a>
                <a
                    href="https://www.freecodecamp.org/news/11-things-i-learned-reading-the-css-grid-specification-fb3983aa5e0/">CSS
                    Grid Guide</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-linux-creating-a-sudo-user/">Create a
                    Linux Sudo User</a>
                <a href="https://www.freecodecamp.org/news/the-ultimate-guide-to-ssh-setting-up-ssh-keys/">How to Set Up
                    SSH Keys</a>
            </div>
        </div>
    </div>
</footer>