<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-desc-col">
                <p>freeCodeCamp is a donor-supported tax-exempt 501(c)(3) nonprofit organization (United States Federal
                    Tax Identification Number: 82-0779546)
                </p>
                <p>
                    Our mission: to help people learn to code for free. We accomplish this by creating thousands of
                    videos, articles, and interactive coding lessons - all freely available to the public. We also have
                    thousands of freeCodeCamp study groups around the world.
                </p>
                <p>
                    Donations to freeCodeCamp go toward our education initiatives, and help pay for servers, services,
                    and staff.
                </p>
                <p class="footer-donation">
                    You can&nbsp;<a href="https://freecodecamp.org/donate" class="inline" rel="noopener noreferrer"
                        target="_blank">make a tax-deductible donation here</a>.
                </p>
            </div>
            <div class="trending-guides">
                <div class="col-header">Trending Guides</div>
                <div class="trending-guides-row">
                    <div class="footer-col footer-col-1">
                        <a href="https://www.freecodecamp.org/news/common-sql-interview-questions/">SQL Interview
                            Questions</a>
                        <a
                            href="https://www.freecodecamp.org/news/what-is-statistical-significance-p-value-defined-and-how-to-calculate-it/">Statistical
                            Significance</a>
                        <a href="https://www.freecodecamp.org/news/basic-sql-commands/">SQL Queries</a>
                        <a href="https://www.freecodecamp.org/news/what-is-blockchain-and-how-does-it-work/">What is
                            Blockchain?</a>

                        <a href="https://www.freecodecamp.org/news/how-to-become-a-full-stack-web-developer-in-2020/">Full
                            Stack Developer</a>
                        <a
                            href="https://www.freecodecamp.org/news/javascript-substring-examples-slice-substr-and-substring-methods-in-js/">JavaScript
                            Substring</a>
                        <a
                            href="https://www.freecodecamp.org/news/what-does-a-vpn-do-and-how-does-it-work-a-guide-to-virtual-private-networks/">What
                            Does a VPN Do?</a>
                        <a
                            href="https://www.freecodecamp.org/news/docker-image-guide-how-to-remove-and-delete-docker-images-stop-containers-and-remove-all-volumes/">Docker
                            Remove Image</a>
                        <a
                            href="https://www.freecodecamp.org/news/tar-in-linux-example-tar-gz-tar-file-and-tar-directory-and-tar-compress-commands/">Tar
                            GZ</a>
                        <a
                            href="https://www.freecodecamp.org/news/what-is-a-csv-file-and-how-to-open-the-csv-file-format/">What
                            is a CSV File?</a>
                    </div>
                    <div class="footer-col footer-col-2">

                        <a href="https://www.freecodecamp.org/news/flexbox-the-ultimate-css-flex-cheatsheet/">CSS
                            Flexbox</a>

                        <a href="https://www.freecodecamp.org/news/basic-linux-commands-bash-tips-you-should-know/">Linux
                            Commands</a>
                        <a
                            href="https://www.freecodecamp.org/news/javascript-map-reduce-and-filter-explained-with-examples/">JavaScript
                            Map</a>
                        <a
                            href="https://www.freecodecamp.org/news/what-is-https-a-guide-to-secure-web-browsing-and-browser-encryption/">What
                            is HTTPS?</a>

                        <a href="https://www.freecodecamp.org/news/python-list-append-vs-python-list-extend/">Python
                            List Append</a>
                        <a
                            href="https://www.freecodecamp.org/news/what-is-chromium-how-the-chromium-web-browser-is-different-from-chrome/">What
                            is Chromium?</a>
                        <a href="https://www.freecodecamp.org/news/smoke-testing/">Smoke Testing</a>

                        <a
                            href="https://www.freecodecamp.org/news/clear-history-how-to-delete-your-browsing-history-in-chrome-firefox-and-safari/">Clear
                            History</a>
                        <a
                            href="https://www.freecodecamp.org/news/private-browser-how-to-use-incognito-mode-in-chrome-and-safari/">Incognito
                            Mode</a>
                        <a
                            href="https://www.freecodecamp.org/news/linux-how-to-add-users-and-create-users-with-useradd/">Linux
                            Add User</a>
                    </div>
                    <div class="footer-col footer-col-3">
                        <div class="footer-left">
                            <a
                                href="https://www.freecodecamp.org/news/why-correlation-does-not-imply-causation-the-meaning-of-this-common-saying-in-statistics/">Correlation
                                VS Causation</a>
                            <a
                                href="https://www.freecodecamp.org/news/permutation-vs-combination-what-is-the-difference-between-the-permutation-formula-and-the-combination-formula/">Permutation
                                VS Combination</a>

                            <a
                                href="https://www.freecodecamp.org/news/what-is-computer-programming-defining-software-development/">Computer
                                Programming</a>

                            <a
                                href="https://www.freecodecamp.org/news/what-are-json-web-tokens-jwt-auth-tutorial/">JWT</a>
                            <a href="https://www.freecodecamp.org/news/find-square-root-of-number-calculate-by-hand/">How
                                to
                                Find a Square Root</a>
                        </div>

                        <div class="footer-right">
                            <a
                                href="https://www.freecodecamp.org/news/md5-vs-sha-1-vs-sha-2-which-is-the-most-secure-encryption-hash-and-how-to-check-them/">MD5
                                Hash</a>
                            <a href="https://www.freecodecamp.org/news/what-is-cached-data/">What is Cached Data?</a>
                            <a
                                href="https://www.freecodecamp.org/news/how-to-complete-the-square-a-method-for-completing-the-square/">Completing
                                the Square</a>
                            <a
                                href="https://www.freecodecamp.org/news/http-error-403-forbidden-what-it-means-and-how-to-fix-it/">Error
                                403 Forbidden</a>
                            <a
                                href="https://www.freecodecamp.org/news/inline-css-guide-how-to-style-an-html-tag-directly/">CSS
                                Inline Style</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='footer-buttom'>
            <div class="col-header">Our Nonprofit</div>
            <div class="footer-divder"></div>
            <div class="our-nonprofit">
                <a href="https://www.freecodecamp.org/news/about/">About</a>
                <a href="https://www.linkedin.com/school/free-code-camp/people/" rel="noopener noreferrer"
                    target="_blank">Alumni Network</a>
                <a href="https://github.com/freeCodeCamp/">Open Source</a>
                <a href="https://www.freecodecamp.org/shop/" rel="noopener noreferrer" target="_blank">Shop</a>
                <a href="https://www.freecodecamp.org/news/support/">Support</a>
                <a href="https://www.freecodecamp.org/news/sponsors/">Sponsors</a>
                <a href="https://www.freecodecamp.org/news/academic-honesty-policy/">Academic Honesty</a>
                <a href="https://www.freecodecamp.org/news/code-of-conduct/">Code of Conduct</a>
                <a href="https://www.freecodecamp.org/news/privacy-policy/">Privacy Policy</a>
                <a href="https://www.freecodecamp.org/news/terms-of-service/">Terms of Service</a>
                <a href="https://www.freecodecamp.org/news/copyright-policy/">Copyright Policy</a>
            </div>
        </div>
    </div>
</footer>