{{!-- Everything inside the #author tags pulls data from the post --}}

<div class='learn-cta-row'>
    <p>
        {{t "learn-to-code-cta"}} <a class="cta-button" id="learn-to-code-cta" rel="noopener noreferrer" target="_blank">{{t "learn-to-code-cta-btn"}}</a>
    </p>
</div>

{{#contentFor "scripts"}}
<script>
    const learnToCodeCtaUrl = other['learn-to-code-cta-url'];
    const learnToCodeCtaAnchorEl = document.getElementById('learn-to-code-cta');

    learnToCodeCtaAnchorEl.href = learnToCodeCtaUrl;
</script>
{{/contentFor}}
