{{!-- Everything inside the #author tags pulls data from the post --}}
<p>
    If this article was helpful,

    <a
        onclick="window.open(`https://twitter.com/share?text={{encode title}}{{#primary_author}}{{#if twitter}}%20by%20{{twitter}}{{/if}}{{/primary_author}}&amp;url={{url absolute="true"}}`, 'share-twitter', 'width=550,height=235');return false;">
        tweet it</a>
    or
    <a
        onclick="window.open(`https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}`, 'share-facebook','width=580,height=296');return false;">
        share it</a>.
</p>