{{!< default}}
{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{> "site-nav"}}

<div class="error-template">
    <main id="site-main" class="site-main outer">
        <div class="inner">

            <section class="error-message">
                <h1 class="error-code">{{code}}</h1>
                <p class="error-description">{{message}}</p>
                <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
            </section>
        </div>
    </main>

    {{#get "posts" include="tags,authors" limit="4"}}
    <aside class="outer">
        <div class="inner">
            <div class="post-feed">
                {{#foreach posts}}
                {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
    </aside>
    {{/get}}
</div>